################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
Debug/
Release/
Temp/
x64/
build/
/src/dime_reference_only.sln
