################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/dime
/Debug
/Release
/Temp/vs143
/x64
